.DS_Store
.dart_tool/
.gradle/**
.packages
.pub/
.idea/**
build/
example/ios/Podfile.lock
example/pubspec.lock
pubspec.lock
example/ios/Runner/GeneratedPluginRegistrant.m
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/android/local.properties
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/.idea/workspace.xml
example/android/.idea/vcs.xml
example/android/.idea/modules/app/android.app.iml
example/android/.idea/modules/android.iml
example/android/.idea/modules/-415661179/android.veridflutterplugin.iml
example/android/.idea/modules.xml
example/android/.idea/misc.xml
example/android/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_3.xml
example/android/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
example/android/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
example/android/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
example/android/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_5.xml
example/android/.idea/libraries/Gradle__junit_junit_4_12.xml
example/android/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
example/android/.idea/libraries/Gradle__io_reactivex_rxjava3_rxjava_3_1_0.xml
example/android/.idea/libraries/Gradle__io_reactivex_rxjava3_rxandroid_3_0_0_aar.xml
example/android/.idea/libraries/Gradle__io_flutter_x86_debug_1_0_0_241c87ad800beeab545ab867354d4683d5bfb6ce.xml
example/android/.idea/libraries/Gradle__io_flutter_x86_64_debug_1_0_0_241c87ad800beeab545ab867354d4683d5bfb6ce.xml
example/android/.idea/libraries/Gradle__io_flutter_flutter_embedding_debug_1_0_0_241c87ad800beeab545ab867354d4683d5bfb6ce.xml
example/android/.idea/libraries/Gradle__io_flutter_armeabi_v7a_debug_1_0_0_241c87ad800beeab545ab867354d4683d5bfb6ce.xml
example/android/.idea/libraries/Gradle__io_flutter_arm64_v8a_debug_1_0_0_241c87ad800beeab545ab867354d4683d5bfb6ce.xml
example/android/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
example/android/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
example/android/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
example/android/.idea/libraries/Gradle__com_google_guava_guava_30_1_1_android.xml
example/android/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
example/android/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_5_1.xml
example/android/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_7.xml
example/android/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
example/android/.idea/libraries/Gradle__com_getkeepsafe_relinker_relinker_1_4_4_aar.xml
example/android/.idea/libraries/Gradle__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_11_1.xml
example/android/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_11_1.xml
example/android/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_11_1.xml
example/android/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_11_1.xml
example/android/.idea/libraries/Gradle__com_appliedrec_verid_ui2_2_2_0_aar.xml
example/android/.idea/libraries/Gradle__com_appliedrec_verid_native2_2_2_0_aar.xml
example/android/.idea/libraries/Gradle__com_appliedrec_verid_identity_1_1_1_aar.xml
example/android/.idea/libraries/Gradle__com_appliedrec_verid_core2_2_2_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
example/android/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_2_0_alpha02_aar.xml
example/android/.idea/libraries/Gradle__androidx_sqlite_sqlite_2_2_0_alpha02_aar.xml
example/android/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_room_room_runtime_2_4_0_alpha04_aar.xml
example/android/.idea/libraries/Gradle__androidx_room_room_common_2_4_0_alpha04.xml
example/android/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_preference_preference_1_1_1_aar.xml
example/android/.idea/libraries/Gradle__androidx_multidex_multidex_2_0_1_aar.xml
example/android/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_4_0_alpha02_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_2_0.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_4_0_alpha02.xml
example/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0.xml
example/android/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_4_aar.xml
example/android/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_3_3_aar.xml
example/android/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_core_core_1_7_0_alpha01_aar.xml
example/android/.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
example/android/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
example/android/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_0_alpha03_aar.xml
example/android/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_0_alpha03_aar.xml
example/android/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
example/android/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0_alpha01.xml
example/android/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
example/android/.idea/libraries/Gradle__androidx_activity_activity_1_2_3_aar.xml
example/android/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
example/android/.idea/libraries/Gradle_______build_app_intermediates_flutter_debug_libs_jar.xml
example/android/.idea/jarRepositories.xml
example/android/.idea/gradle.xml
example/android/.idea/deploymentTargetDropDown.xml
example/android/.idea/compiler.xml
example/android/.gradle/vcs-1/gc.properties
example/android/.gradle/checksums/checksums.lock
example/android/.gradle/buildOutputCleanup/outputFiles.bin
example/android/.gradle/buildOutputCleanup/cache.properties
example/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
example/android/.gradle/7.0.2/javaCompile/taskHistory.bin
example/android/.gradle/7.0.2/javaCompile/javaCompile.lock
example/android/.gradle/7.0.2/javaCompile/jarAnalysis.bin
example/android/.gradle/7.0.2/javaCompile/classAnalysis.bin
example/android/.gradle/7.0.2/gc.properties
example/android/.gradle/7.0.2/fileHashes/resourceHashesCache.bin
example/android/.gradle/7.0.2/fileHashes/fileHashes.lock
example/android/.gradle/7.0.2/fileHashes/fileHashes.bin
example/android/.gradle/7.0.2/fileChanges/last-build.bin
example/android/.gradle/7.0.2/executionHistory/executionHistory.lock
example/android/.gradle/7.0.2/executionHistory/executionHistory.bin
example/android/.gradle/7.0.2/dependencies-accessors/gc.properties
example/android/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
example/.idea/workspace.xml
example/.idea/vcs.xml
example/.idea/modules.xml
example/.idea/misc.xml
example/.idea/libraries/Flutter_Plugins.xml
example/.idea/libraries/Dart_SDK.xml
example/.idea/example.iml
example/.flutter-plugins-dependencies
example/.flutter-plugins
